# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/

# Environment Variables
.env

# Logs
logs/
*.log

# Database
*.db
*.sqlite
*.sqlite3

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Coverage
.coverage
htmlcov/

# macOS
.DS_Store

# Windows
Thumbs.db

# Alembic Cache
alembic/versions/__pycache__/

# Temporary
*.tmp
*.bak

# Documentation folder
documentation